# OS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.local
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Flutter
app_mobile/.dart_tool/
app_mobile/build/
app_mobile/.pub-cache/
app_mobile/.packages
app_mobile/android/local.properties
app_mobile/ios/.symlinks/
app_mobile/ios/Pods/

# IDEs
.vscode/
.idea/
*.swp

# Sensitive Assets & User Data
assets/uploads/
assets/references/
dataset/
sample_data/
*.wav
*.mp3
*.m4a
*.json
!persona_profile.json
